.footer{
    padding: 3rem 10rem;
    padding-bottom: 0;
    position: relative;

    @include respondmax(xxl){
        padding: 3rem 8rem;     
    }

    @include respondmax(sm){
        padding: 3rem 2rem;
    }
    
    &__bottom{
        padding: 2rem 0;
    }

    & p{
        @include font($sfprgl,2rem,$color-grey-dark);

        @include respondmax(sm){
            margin: 0 auto;
            font-size: 1.2rem;
        }
    }
    
    &__sosial{
        @include respondmax(sm){
            position: absolute;
            top: 2.5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__sosialLink{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        color: rgba($color-grey-dark,.6);
        border: 1px solid  rgba($color-grey-dark,.6);
        display: inline-block;
        position: relative;
        transition: all .3s ease-out;
        background-color: $color-white;
        
        &:not(:last-child){
            margin-right: 1.5rem;
        }
        

        & .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 1.6rem;    
            transition: all .3s;
            color: rgba($color-grey-dark,.6);
        }

        &:hover{
            border: 1px solid  $color-green;
            background-color: $color-green;
            color: $color-white;
            transform: rotate(360deg);

            & .icon{
                color: $color-white;
            }
        }
    }

    &__mobilMenu{
        display: none;

        text-align: center;
        
        @include respondmax(sm){
            display: block;
            
        }

        & a{
            text-decoration: none;
            @include font($rbmdm,1.2rem, $color-grey-dark);
        }
    }

    & .footerMobilLogo{
        display: none;
        width: 8rem;
        @include respondmax(sm){
            display: block;
            margin: 0  auto;
            margin-top: 3.5rem;
        }
    }
}