.footerNav{
    border-bottom: 2px solid $color-grey-light;
    @include respondmax(sm){
        display: none;
    }

    &__logo{
        width: 7rem;
        height: 12rem;
    }
    .nav-link{
        @include font($rbmdm, 1.6rem, $color-black);
        margin-left: 4rem;
    }


    &__number{
        @include font($rbrgl,1.4rem,$color-black);

        &--1{
            display: none;
            @include font($rbrgl,1.4rem,$color-black);
            
            @include respondmax(sm){
                display: block;
                text-align: center;
                margin-top: 5rem;
            }
        }
    }
}