.homeContact {
    padding:  5rem 10rem;
    padding-bottom: 18rem;
    position: relative;
    overflow: hidden;

    

    @include respondmax(sm){
        padding: 3rem ;
        background-color: $color-grey-light;
    }

    &__title {
        @include font($sfpbld, 4.8rem, $color-grey-dark);
        text-align: center;

        @include respondmax(xxl){
            font-size: 3.6rem;
        }

        @include respondmax(sm){
            font-size: 2rem;
            padding: 0 4rem;
        }
    }

    & p {
        @include font($sfprgl, 2.4rem, $color-grey-dark);
        text-align: center;
        margin: 0 auto;
        max-width: 53rem;
        margin-top: 3rem;

        @include respondmax(xxl){
            font-size: 1.6rem;
        }

        @include respondmax(sm){
            font-size: 1.4rem;
            margin-top: 2rem;
        }
    }

    &__link {
        @include font($rbbld, 2rem, $color-white);
        background-color: $color-purple;
        width: 24rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 5rem;
        border-radius: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4.8rem;

        &:hover {
            color: $color-white;
            text-decoration: none;
        }

        @include respondmax(sm){
            width: 12.4rem;
            margin-top: 3rem;
            font-size: 1.6rem;
            
        }
    }

    &__circles {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;

        @include respondmax(sm){
            display: none;
        }
    }
}
