.homeContact {
    padding:  5rem 10rem;
    padding-bottom: 25rem;
    position: relative;

    &__title {
        @include font($rbbld, 3.6rem, $color-grey-dark);
        text-align: center;
    }

    & p {
        @include font($rbrgl, 2rem, $color-grey-dark);
        text-align: center;

        margin-top: 3rem;
    }

    &__link {
        @include font($rbbld, 2rem, $color-white);
        background-color: $color-purple;
        width: 24rem;
        text-align: center;
        margin: 0 auto;
        margin-top: 5rem;
        border-radius: 0.8rem;
        display: block;
        padding: 1.2rem 0;
        &:hover {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__circles {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
