.homeServices{
    padding: 6rem 0;
    background-color: $color-white;
    position: relative;
    height: 140rem;
    overflow: hidden;

    @include respondmax(xxl){
        height: 127rem;
    }

    @include respondmax(sm){
        padding: 1rem 0;
        height: 52rem;
    }

    &__title{
        @include font($rbmdm,4.8rem,$color-grey-dark);
        text-align: center;
        margin-bottom: 1rem;

        @include respondmax(xxl){
            font-size: 3.6rem;
        }

        @include respondmax(sm){
            font-size: 2.4rem;

            text-align: start;
            padding-left: 2rem;
        }
    }

    &__topText{
        @include font($rbrgl,2rem,$color-grey-dark);
        margin: 2rem auto;
        max-width: 47.6rem;
        max-height: 7rem;
        overflow: hidden;
        text-align: center;

        @include respondmax(xxl){
            font-size: 1.6rem;
        }

        @include respondmax(sm){
            font-size: 1.2rem;
            padding-left: 2rem;
            margin: 2rem 0;
            text-align: start;
            max-width: 25rem;
        }
    }

    &__cards{
    
        padding: 4rem 0;

        @include respondmax(sm){
            display: none;
        }
    }

    &__back1{
        background-image: url('../../img/contentback.png');
        background-size: cover;
        width: 100rem;
        height: 59rem;
        left: -13rem;
        overflow: hidden;
        position: relative;
        
        z-index: 2;

        @include respondmax(xxl){
            width: 83rem;
            height: 54rem;
        }

        @include respondmax(sm){
            display: none;
        }

    }

    &__back2{
        width: 90%;
        height: 30rem;
        border-radius: 15rem;
        background-image: linear-gradient(to top right, #ECF7FC, #fff  60%, #fff);
        position: absolute;
        left: 7rem;
        bottom: 11rem;
        overflow: hidden;
        z-index: 1;
        transform: rotate(-8deg);

      

        @include respondmax(sm){
            display: none;
        }
    }

    &__circles{
        position: absolute;
        display: flex;
        bottom: 0;
        right: -16rem;
        overflow: hidden;
        width: 70rem;
        z-index: 2;

        @include respondmax(sm){
            display: none;
        }
    }

    &__mobilCards{
        display: none;

        @include respondmax(sm){
            display: block;
        }
    }


    &__content{
        @include respondmax(sm){
            display: none;
        }
    }
}