.mobil-container {
	@include respondmax(md) {
		max-width: 100% !important;
		padding: 0 !important;
	}
}

.mobile {
	background-color: $color-white;
	transition: height 0.4s;
	margin: 0;
	overflow: hidden;
	position: relative;
	height: 5.5rem;
	
	@include respondmin(sm) {
		display: none;
	}

	@include respondmax(sm) {
		height: 6rem;
	}

	&__logo {
		height: 5.5rem;
	}
}

.mobileHeight {
	height: 100vh;
	transition: height 0.4s;
}

.logo {
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	padding: 0 0 0 20px;
	text-transform: capitalize;
}
/* menu button */
.menuBtn {
	height: 30px;
	width: 30px;

	position: absolute;
	right: 12px;
	top: 8px;
	z-index: 101;
	> span {
		background-color: $color-black;
		border-radius: 1px;
		height: 2px;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -15px;
		transition: height 100ms;
		&:after,
		&:before {
			content: "";
			background-color: $color-black;
			border-radius: 1px;
			height: 2px;
			width: 100%;
			position: absolute;
			left: 50%;
			margin-left: -15px;
			transition: all 200ms;
		}
		&:after {
			top: -7px;
		}
		&:before {
			bottom: -7px;
		}
	}
	&.act {
		position: fixed;
		top: 19px;
		right: 12rem;
		@include respondmax(sm) {
			right: 35px;
			top: 25px;


		}

		/* @include respondmax(s){
			right: 28px;
		} */

		> span {
			height: 0;
			&:after,
			&:before {
				background-color: $color-black;
				top: 1px;
			}
			&:after {
				transform: rotate(45deg);
			}
			&:before {
				transform: rotate(-45deg);
			}
		}
	}
}
/* main menu block */
.mainMenu {
	background-color: $color-pink-light;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	height: 100%;
	width: 100%;
	display: table;
	text-align: center;
	opacity: 0;
	transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
	

	&.act {
		opacity: 1;
		transform: scale(1);
		
		ul li {
			opacity: 1;
			transform: translateX(0);
		}
	}
	ul {
		vertical-align: middle;
		list-style: none;
        padding: 0;
        padding-top: 5rem;
	}
	li {
		padding: 0;
		transition: all 400ms 510ms;
		opacity: 0;
		&:nth-child(odd) {
			transform: translateX(30%);
		}
		&:nth-child(even) {
			transform: translateX(-30%);
		}
		&:last-child {
			transform: none;
		}
	}
	.mobLink {
		color: $color-black;
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		transition: 0.4s;
		padding: 1rem;
		width: 55%;
		

		&:hover,
		&:active,
		&:focus {
			
		}

		&.suBtn {
			color: #fff;
		}
	}
}
/* sign up button */
.suBtn {
	background-color: #19b698;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 10px 20px;
}
