.homePricingCard{
    display: block;
    width: 42rem;
    height: 82rem;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 2rem -5px rgba($color-shadow, 0.2);
    border-radius: .5rem;
    background-color: $color-white;
    transition: all .3s;
    z-index: 2;

    @include respondmax(xxl){
       width: 26rem;
       height: 60rem;
    }

    &--1{
        border-top: 6px solid $color-green;
    }

    &--2{
        border-top: 6px solid $color-yellow-light;
    }

    &--3{
        border-top: 6px solid $color-purple;
    }

    @include respondmax(sm){
        width: 100%;

    }

    &__top{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% / 3);
        text-align: center;
        border-bottom: 1px solid rgba($color-grey-dark,.6);

        @include respondmax(xxl){
            height: calc(100% / 3.5);
        }
        
        & span{
            @include font($sfprgl,1.6rem,rgba($color-grey-dark,.4));
            display: block;
            text-align: center;
            margin-top: 3rem;         
            
            @include respondmax(xxl){
               margin-top: 2rem;
            }
        }
    }
    

    &__number1{
        @include font($sfpmd,6.9rem,$color-pink-light);
        display: inline-block;
        margin-top: 5rem;

        @include respondmax(xxl){
            font-size: 4.5rem;
        }

        @include respondmax(sm){
            font-size: 4.6rem;
        }

    }
    &__number2{
        @include font($sfpmd,2.5rem,$color-pink-light);
        display: inline-block;

        @include respondmax(xxl){
          font-size: 2rem;
        }

        @include respondmax(sm){
            font-size: 1.5rem;
        }
    }

    &__center{
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
       
        & p{
            @include font($sfprgl,2rem,rgba($color-grey-dark,.7));
            max-width: 25.8rem;
            max-height: 3rem;
            overflow: hidden;
            margin: 2rem auto;

            @include respondmax(xxl){
                font-size: 1.6rem;
            }

        }
    }
    &__title{
        @include font($sfprgl,2.8rem,$color-grey-dark);
        text-decoration: underline;
        margin-top: 4rem;

        @include respondmax(xxl){
          font-size: 2rem;
        }
    }

    &__bottom{
        border-top: 1px solid rgba($color-grey-dark,.6);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 17rem;

        & span{
            @include font($sfprgl,2rem,rgba($color-grey-dark,.4));
            display: block;
            text-align: center;

            @include respondmax(xxl){
                font-size: 1.6rem;
            }
        }
    }

    &__fakeButton{
        @include font($sfpbld,2.4rem,rgba($color-grey-dark,.5));
        text-align: center;
        border: 1px solid rgba($color-grey-dark,.5);
        border-radius: .6rem;
        width: 33rem;
        margin: 2rem auto;
        height: 6.7rem;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: all .3s;

        @include respondmax(xxl){
          width: 21rem;
          font-size: 1.6rem;
          height: 5rem;
        }

        &:hover{
            color: $color-white;
            background-color: $color-green;
            border-color: $color-green;
        }
    }

    &:hover{
        text-decoration: none;
        transform: translateY(-8px);
        box-shadow: 0 1rem 2rem 5px rgba($color-shadow,.2);

       

    }

}