<footer class="footer">

  <nav class="navbar footerNav navbar-expand">
    <a class="footerNav__logo" href="index.html">
      <img src="img/footerLogo.png" class="img-fluid" alt="">
    </a>
    <ul class="navbar-nav">
      <li class="nav-item   ">
        <a class="nav-link hvr-underline-from-center" href="#">About us.</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link hvr-underline-from-center" href="#">Portfolio.</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link hvr-underline-from-center " href="#">Services.</a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link hvr-underline-from-center" href="#">Contact us.</a>
      </li>

    </ul>
    <a href="#" class="ml-auto footerNav__number">
      +99450 230 03 32‬
    </a>
  </nav>

  <div class="footer__bottom d-flex justify-content-between align-items-center">
    <p>&copy;2020 copyright all right reserved</p>
    <div class="footer__sosial">
      <a href="#" class="footer__sosialLink">
        <i class="fab fa-facebook-f icon"></i>
      </a>
      <a href="#" class="footer__sosialLink">
        <i class="fab fa-google icon"></i>
      </a>
      <a href="#" class="footer__sosialLink">
        <i class="fab fa-twitter icon"></i>
      </a>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>

<!-- font awesome -->
<script src="libs/Font-Awesome/js/all.js"></script>


<script src="js/all.min.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>