<header class="header">
        <nav class="navbar myNav navbar-expand">
            <a class="navbar-brand" href="index.html">
                <img src="img/Logo-1.png" class="img-fluid" alt="">
            </a>
            <ul class="navbar-nav mx-auto">
                <li class="nav-item  hvr-underline-from-center ">
                    <a class="nav-link" href="#">About us.</a>
                </li>
                <li class="nav-item hvr-underline-from-center ">
                    <a class="nav-link" href="#">Portfolio.</a>
                </li>
                <li class="nav-item hvr-underline-from-center ">
                    <a class="nav-link active" href="#">Services.</a>
                </li>
                <li class="nav-item hvr-underline-from-center ">
                    <a class="nav-link" href="#">Contact us.</a>
                </li>
               
            </ul>
            
        </nav>
        <div class="mobile">
            <div class="mainContainer">
                <a href="#" class="navbar-brand">
                    <img src="img/Logo-1.png" class="mobile__logo" alt="">
                </a>
               
                <a href="#" class="menuBtn">
                    <span class="lines"></span>
                </a>
                <nav class="mainMenu">
                    <ul class="">
                        <li class=" ">
                            <a class="mobLink hvr-underline-from-center" href="#">About us. </a>
                        </li>
                        <li class="">
                            <a class="mobLink hvr-underline-from-center" href="#">Portfolio.</a>
                        </li>
                        <li class="">
                            <a class="mobLink hvr-underline-from-center" href="#">Services.</a>
                        </li>
                        <li class="">
                            <a class="mobLink hvr-underline-from-center" href="">Contact us.</a>
                        </li>
                        
                    </ul>
                    
                </nav>
            </div>
        </div>
</header>