<header class="header">
    <nav class="navbar myNav navbar-expand">
        <a class="navbar-brand" href="index.html">
            <img src="img/Logo-1.png" class="img-fluid" alt="">
        </a>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item  hvr-underline-from-center ">
                <a class="nav-link" href="#">About us.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link" href="#">Portfolio.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link active" href="#">Services.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link" href="#">Contact us.</a>
            </li>

        </ul>

    </nav>
    <div class="mobMenu" id="wrapper">
        <div class="menu">
            <ul class="mob">
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="index.html">About us.</a></li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Portfolio.</a></li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Services.</a></li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Contact us.</a></li>

            </ul>
            <div class=" d-flex mt-5 justify-content-center">
                <a href="#" class="footer__sosialLink">
                  <i class="fab fa-facebook-f icon"></i>
                </a>
                <a href="#" class="footer__sosialLink">
                  <i class="fab fa-google icon"></i>
                </a>
                <a href="#" class="footer__sosialLink">
                  <i class="fab fa-twitter icon"></i>
                </a>
              </div>
        </div>
        <div class="content">
            <div class="button">
                <div class="line first top"></div>
                <div class="line second bottom"></div>
            </div>
        </div>
        <a class="mobil-logo" href="index.html">
            <img src="img/footerLogo.png" class="img-fluid" alt="">
        </a>

    </div>
</header>