<header class="pageHeader">

    <nav class="navbar pageHeader__nav navbar-expand">
        <a class="pageHeader__logo" href="index.html">
            <img src="img/logowhite.png" class="img-fluid" alt="">
        </a>
        <ul class="navbar-nav pageHeader__navList ml-auto">
            <li class="nav-item  hvr-underline-from-center ">
                <a class="nav-link" href="#">About us.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link" href="#">Portfolio.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link active" href="#">Services.</a>
            </li>
            <li class="nav-item hvr-underline-from-center ">
                <a class="nav-link" href="#">Contact us.</a>
            </li>
            <div class="langDropdown" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                <a class=" nav-link langDropdown__firstLink">
                    Az
                </a>
                <div class="collapse" id="collapseExample">
                    <a href="#" class="langDropdown__link nav-link">En</a>
                    <a href="#" class="langDropdown__link nav-link"> Ru</a>
                </div>
            </div>
        </ul>

    </nav>
    <div class="mobMenu" id="wrapper">
        <div class="menu">
            <ul class="mob">
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="index.html">About us.</a>
                </li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Portfolio.</a></li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Services.</a></li>
                <li class="mob__item"><a class="mob__link hvr-underline-from-center" href="#">Contact us.</a></li>

            </ul>
            <div class=" d-flex mt-5 justify-content-center">
                <a href="#" class="footer__sosialLink">
                    <i class="fab fa-facebook-f icon"></i>
                </a>
                <a href="#" class="footer__sosialLink">
                    <i class="fab fa-google icon"></i>
                </a>
                <a href="#" class="footer__sosialLink">
                    <i class="fab fa-twitter icon"></i>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="button">
                <div class="line first top"></div>
                <div class="line second bottom"></div>
            </div>
        </div>
        <a class="mobil-logo" href="index.html">
            <img src="img/footerLogo.png" class="img-fluid" alt="">
        </a>

    </div>


    <div class="pageHeader__img">
        <div class="owl-carousel pagesCarousel owl-theme">
            <div class="item">
                <img src="img/pagesTop.png" alt="">

            </div>
            <div class="item">
                <img src="img/weddinImg.png" alt="">

            </div>
        </div>
    </div>
    <div class="pageHeader__overlay"></div>
    <div class="pageHeader__titleGroup">
        <h1 class="pageHeader__title">
            Sifariş et
        </h1>
        <p>
            Contrary to popular belief, Lorem Ipsum is not
            simply random text.
        </p>
    </div>
</header>