.contact {
    width: 100%;
    position: relative;
    z-index: 3;
    &__left {
        padding: 5rem 10rem;
        height: 80rem;
        width: 50%;
        float: left;
        position: relative;

        @include respondmax(sm) {
            width: 100%;
            padding: 0 1rem;
            float: none;
        }
    }

    &__right {
        width: 50%;
        height: 80rem;
        float: right;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respondmax(sm) {
            display: none;
        }
    }

    &__title {
        @include font($rbrgl, 3.6rem, $color-grey-dark);
        margin: 1rem 0;

        @include respondmax(sm) {
            font-size: 2.4rem;
            margin: 2rem 0;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        height: 5.2rem;
        border-radius: 0.6rem;
        border: 1.3px solid rgba($color-grey-dark, 0.5);
        outline: none;
        @include font($rbrgl, 2rem, $color-grey-dark);
        padding-left: 2rem;
    }

    & label {
        @include font($rbmdm, 2rem, $color-grey-dark);

        @include respondmax(sm) {
            font-size: 1.6rem;
        }
    }

    & span {
        color: $color-pink-light;
        font-size: 2rem;
    }

    &__textarea {
        height: 20rem;

        @include respondmax(sm) {
            height: 17rem;
        }
    }

    input[type="checkbox"] + label {
        display: block;
        margin-top: 1rem;
        cursor: pointer;

        @include font($rbmdm, 2rem);

        @include respondmax(sm) {
            font-size: 1.2rem;
        }
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label:before {
        content: "\2714";
        border: 0.1em solid rgba($color-grey-dark, 0.4);
        border-radius: 0.2em;
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        line-height: 1;
        padding-left: 3px;
        padding-top: 1px;

        margin-right: 1rem;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s;

        @include respondmax(sm) {
            padding-left: 2px;
            padding-top: 0;
        }
    }

    input[type="checkbox"] + label:active:before {
        transform: scale(0);
    }

    input[type="checkbox"]:checked + label:before {
        background-color: MediumSeaGreen;
        border-color: MediumSeaGreen;
        color: #fff;
    }

    input[type="checkbox"]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type="checkbox"]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }

    &__send {
        height: 5.2rem;
        width: 100%;
        border: 1.3px solid rgba($color-grey-dark, 0.4);
        outline: none;
        @include font($rbbld, 2rem, $color-grey-dark);
        border-radius: 0.6rem;
        margin-top: 5rem;
        background-color: rgba($color-grey-dark, 0.2);

        &:hover {
            border-color: $color-green;
            background-color: $color-green;
            color: $color-white;
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    .contactChecked {
        border-color: $color-green;
        background-color: $color-green;
        color: $color-white;
    }

    &__circles {
        display: none;

        @include respondmax(sm) {
            position: absolute;
            left: -3rem;
            bottom: 0;
            display: flex;
        }
    }
}
