/* Fonts */
$aznb: jaznb;
$rbbld: Roboto-Bold;
$rbblk: Roboto-Black;
$rbmdm: Roboto-Medium;
$rbrgl: Roboto-Regular;
$sfpbld: SFProDisplay-Bold;
$sfpmd: SFProDisplay-Medium;
$sfprgl: SFProDisplay-Regular;


/* Colors */
$color-pink-dark:#BFACD4;
$color-pink-light:#F26D78; 
$color-yellow-light:#FFCE49;


$color-black:#000;
$color-white:#fff;

$color-grey-dark:#54565B;
$color-grey-light:#f6f6f8;

$color-green:#94CB70;
$color-purple:#BFACD4;

$color-shadow:#040712;

$color-blue-dark:#3DBDAC;